.array-container {
    position: fixed;
    align-self: center;
    width: 100vw;
    bottom: 0vh;
    display: flex;
    justify-content: center;
}

.array-bar {
    width: .7vw;
    background-color: white;
    display: inline-block;
    margin: 0 1px;
}

.options {
    position: absolute;
    z-index: -1;
    top: 10vh;
    width: 100vw;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.array {
    bottom: 0vh;
}

