.array-container {
    position: fixed;
    align-self: center;
    /* height: 80vh; */
    width: 100vw;
    bottom: 0vh;
    display: flex;
    justify-content: center;
}

.array-bar {
    /* position: absolute; */
    width: .7vw;
    background-color: white;
    display: inline-block;
    margin: 0 1px;
    /* bottom: 0vh; */

}

.options {
    position: absolute;
    z-index: -1;
    /* display: flex; */
    top: 10vh;
    width: 100vw;
    /* margin-bottom: 20vh; */
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.array {
    /* position: absolute; */
    bottom: 0vh;
}

